* {
    color: #f0e6ae;
}

body {
    background-color: #e47c05;
    background-image: url(../images/orangetile-bg.png);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
  }

img {
    border: 3px solid #f0e6ae;
    margin: 30px auto;
    display: block;
}

h1 {
    text-align: center;
    color: #f5e692;
    font-weight: 900;
}

h3 {
    color: #f5e692;
    margin: 0;
}

.btn-group {
    margin: 30px;
}

button {
    display: block;
    text-align: center;
    background-color: #e95f03;
    color: #f0e6ae;
    border: 3px solid #a34201;
    padding: 10px 20px;
    cursor: pointer;
    width: 30%;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
}

button:not(:last-child) {
    border-bottom: none;
}

button:hover {
    background-color: #eb9029;
}

.main-recipes {
    list-style-type: none;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

.ingredients {
    display: inline-block;
    background-color: #8a3801;
    border: 3px dashed #f5e692;
    padding: 10px 30px 10px 20px;
    margin: 10px auto;
}

.instructions {
    display: inline-block;
    background-color: #a34201;
    border: 3px dashed #f5e692;
    padding: 10px 30px 10px 20px;
    margin: 10px auto;
}